<%- include('./partials/header') %>
<link rel="stylesheet" href="/css/personal-chart.css">
<% for (var col=0; col<3; col++){%>
<div class="row">
  <% for (var i=col*3; i<fields.length && i < (col+1)*3; i++){%>
  <div class="col-4 mb-3">
    <h5>
    <div class="row">
      <div class="col" style="max-width:fit-content; color: #CBCBCB"><%=fields[i].name%></div>
      <div id="<%=fields[i].tag%>-value" class="col m-0 p-0" style="flex-grow: 0;"></div>
      <div class="col m-0 p-0" style="flex-grow: 0; color: #646464"><%-fields[i].unit%></div>
    </div> </h5>
    <div class="row col">
      <div id="<%=fields[i].tag%>-overlay" class="overlay"><div id="text" class="overlay-text">No data</div></div>
      <div id="<%=fields[i].tag%>-chart" class="chart"></div>
    </div>
  </div>
  <%}%>
</div>
<%}%>

<%- include('./partials/bootstrap-jquery') %> 

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<!-- Chart code -->
<script>
const testDate = "2019-12-01T08:30:00"
var data = [];
var date = new Date(testDate);
date.setMilliseconds(0)
date -= 2000;


function getHistory(){
  $.ajax({
         url : '/api/firefighter/history',
         type : 'GET',
         dataType: 'json',
         async: false,
         data : {
             'id' : '<%=id%>',
             'count': 60,
             'datetime': date
         },
         success : function(response) { 
            $('.overlay').css("display", "none");           
            data = response.data;
         },
         error : function(request, error) {
             $('.overlay').css("display", "block");
         }
  });
  return data;
}

function generateSeries(field, data){
  let series = [];
  data.forEach(function(item){
    series.push({
      date: item.datetime,
      value: item[field]
    })
  });
  return series;
}

var i = 0;
function startInterval() {
  let data;

  interval = setInterval(function() {
    $.ajax({
           'url' : '/api/firefighter',
           'type' : 'GET',
           'data' : {
               'id' : '<%=id%>',
               'datetime': date
           },
           'success' : function(response) {   
               $('.overlay').css("display", "none");             
               addData(response.data);
           },
           'error' : function(request,error) {
              $('.overlay').css("display", "block");
           }
    });
  }, 1000);
}

function addData(data){
   curr = new Date(testDate).setMilliseconds(0) - 1000 + i;
    <% fields.forEach(function(field){%>
    if(data.<%=field.tag%> == undefined){
      $('#<%=field.tag%>-value').html('');
      $('#<%=field.tag%>-overlay').css('display', 'block');
    } else{
      $('#<%=field.tag%>-overlay').css('display', 'none');
      $('#<%=field.tag%>-value').html(data.<%=field.tag%>.toFixed(2));
      <%=field.tag%>Chart.addData({ date: curr, value: data.<%=field.tag%>}, 1);
    }
    <%});%>
    i += 1000;
}

am4core.ready(function(
  ) {
  var history = getHistory();
  let varDist = 35;
  <% fields.forEach(function(field){%>
  <%=field.tag%>Chart = initGraph(<%=field.tag.toUpperCase()%>_COLOR, "<%=field.tag%>-chart", generateSeries("<%=field.tag%>", history), varDist);
  <%});%>
  // add data
  var interval;
  var i = 0;
 
  startInterval();
});





</script>
<script src="/js/chart.js"></script>


<%- include('./partials/footer') %> 