<%- include('./partials/header') %>
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    html, body {
      height: 100%;
    }
  </style>

  <div id="map-overlay" class="overlay"><div id="text" class="overlay-text">No data</div></div>
  <div id="map"></div>

  <%- include('./partials/bootstrap-jquery') %> 

  <script>
  var icons = {
    "Deployed": "<%=staticPath%>images/helmet.png",
    "Enroute": "<%=staticPath%>images/truck.png%>"
  }
  </script>
  <script async defer src="<%=staticPath%>js/map.js"></script></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=googleMapsAPIKey%>&callback=initMap">
  </script>
<%- include('./partials/footer') %> 