<%- include('./partials/header') %>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <div id="map-overlay" class="overlay"><div id="text" class="overlay-text">No data</div></div>
    <div id="map"></div>
    
    <%- include('./partials/bootstrap-jquery') %> 

    <script>
    var icons = {
      "Deployed": "<%=staticPath%>images/helmet.png",
      "Enroute": "<%=staticPath%>images/truck.png%>"
    }
    var markers = {};
    var map;
    function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(38.5616539,-121.512952),
          zoom: 12
        });

        var infoWindow = new google.maps.InfoWindow;
                    
       
        var id = "aasdf"

        // Change this depending on the name of your PHP or XML file
        startInterval((teams)=>{
            teams.forEach((team)=>{
                var id = team.id;
                var point = new google.maps.LatLng(
                  parseFloat(team.pos.lat),
                  parseFloat(team.pos.lng));
                if (markers[id] === undefined){
                    var label = id.toString() || "";
                    var marker = new google.maps.Marker({
                        title: name,
                        map: map,
                        label: label
                    });
                    zoomToFit(point);
                    markers[id] = marker;
                }

                var currMarker = markers[id];
                //clear all listeners
                google.maps.event.clearListeners(currMarker, 'click');
                //popup content
                let infowincontent = '<div style="color: black"><b><a href="../team/' + id + '">' + 
                                team.name + 
                                '</b><a><br/>Status: '+
                                team.status + '<br/> Devices: ' +
                                team.membersId +
                                '</div>';

               
                currMarker.setPosition(point);
                currMarker.setIcon(icons[team.status]  || icons["Deployed"]);
                currMarker.addListener('click', function() {
                    infoWindow.setContent(infowincontent);
                    infoWindow.open(map, currMarker);
                });
                

                
            });
        });       
    }

    function zoomToFit(newPoint){
       let bounds = new google.maps.LatLngBounds();
       for (var key in markers){
        bounds.extend(markers[key].position);
       }
       if (newPoint != null){
        bounds.extend(newPoint);
       }
       map.fitBounds(bounds);
       if (map.getZoom() > 17)
         map.setZoom(17);
    }

    function startInterval(callback) {
      // let data;
      var date = new Date();
      interval = setInterval(()=>{
        $.ajax({
               url : '../api/teams',
               type : 'GET',
               success : (response) => {
                  $('.overlay').css('display', 'none');
                  callback(response.data);
               },
               error : (request,error)  => {
                  $('.overlay').css('display', 'block');
               }
        });
      }, 1000);
    }

    
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=googleMapsAPIKey%>&callback=initMap">
    </script>
<%- include('./partials/footer') %> 